---
BasedOnStyle: LLVM
Language: Cpp
Standard: c++17
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: true
AllowShortFunctionsOnASingleLine: InlineOnly
ColumnLimit: 100
IndentCaseLabels: false
IndentWidth: 4
TabWidth: 4
KeepEmptyLinesAtTheStartOfBlocks: false
Cpp11BracedListStyle: true
PenaltyReturnTypeOnItsOwnLine: 0
DerivePointerAlignment: false
PointerAlignment: Left
---
BasedOnStyle: WebKit
Language: ObjC
