.cache
build
.generated
.qt
.qt_plugins
.rcc
meta_types
qmltypes
WayCrateLock
waycratelock_autogen

CMakeFiles
cmake_install.cmake
CMakeCache.txt
compile_commands.json
Makefile

waycratelock_qmltyperegistrations*
waycratelock
